{% load i18n %}
<div id="menu" class="text-left">
    <ul class="offcanvas_main_menu">
        <li class="menu-item-has-children">
            <a href="#">{% trans "Categories" %}</a>
                <ul class="sub-menu">
                {% for cat in category_globul %}
                {% if cat.level == 0 %}
                    <li class="menu-item-has-children"><a class="dropdown-item" href="{{ cat.slug }}"><b>{{ cat.name }}</b></a>
                        
                            {% if cat.children %}
                            <ul class="sub-menu">
                            {% for c in cat.children.get_queryset %}
                            <li class="menu-item-has-children"><a class="dropdown-item" href="{{ c.slug }}">{{ c.name }}</a>
                                <ul class="sub-menu">
                                    {% if c.children %}
                                    {% for x in c.children.get_queryset %}
                                        <li class="menu-item-has-children"><a class="dropdown-item" href="{{ x.slug }}">{{ x.name }}</a>
                                                <ul class="sub-menu">
                                                {% if x.children %}
                                                {% for y in x.children.get_queryset %}
                                                    <li class="menu-item-has-children"><a class="dropdown-item" href="{{ y.slug }}">{{ y.name }}</a>
                                                            <ul class="sub-menu">
                                                            {% if y.children %}
                                                            {% for z in y.children.get_queryset %}
                                                                <li class="menu-item-has-children"><a class="dropdown-item" href="{{ z.slug }}">{{ z.name }}</a></li>
                                                            {% endfor %}
                                                            {% endif %}
                                                            </ul>
                                                    </li>
                                                {% endfor %}
                                                {% endif %}
                                                </ul>
                                        </li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                        
                    </li>
                {% endif %}
                {% endfor %}
                </ul>
        </li>
    </ul>
    
</div>
