{% extends "base.html" %}
{% load i18n %}


{% block content %}
<div class="shop_area shop_fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row shop_wrapper">
                {% if object_list %}
                    {% for product in object_list %}
                        <div class="col-lg-3 col-md-4 col-12 ">
                            <div class="single_product">
                                <div class="product_name grid_name">
                                    <h3><a href="{% url 'product-details' product.slug %}">{{ product.name }}</a></h3>
                                </div>
                                <div class="product_thumb">
                                    <a class="primary_img" href="{% url 'product-details' product.slug %}"><img src="{{ product.images.url }}" alt=""></a>
                                </div>
                            
                        
                                <div class="product_content list_content">
                                    <div class="right_caption">
                                        <div class="product_name">
                                            <h3><a href="{% url 'product-details' product.slug %}">{{ product.name }}</a></h3>
                                        </div>
                                        
                                        <div class="product_desc">
                                            <p>{{ product.description|safe }}</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2>{% trans "Products not fount with search" %}</h2>
                {% endif %}

                </div>
                {% if is_paginated %}
                <div class="shop_toolbar t_bottom">
                    <div class="pagination">
                        <ul class="pagination">
                            {% for i in paginator.page_range %}
                                {% if i <= page_obj.number|add:2 and i >= page_obj.number|add:-2 %}
                                    {% if page_obj.number == i %}
                                        <li class="page-item current" aria-current="page"><span class="current">{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                <!--shop toolbar end-->
                <!--shop wrapper end-->
            </div>
        </div>
    </div>
</div>
    <!--shop  area end-->


{% endblock content %}