{% extends "base.html" %}
{% load mptt_tags %}
{% load static %}
{% block content %}
    <!--product details start-->
    <div class="product_details mt-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product-details-tab">
                        <h1>{{ object.name }}</h1>

                        <div id="img-1" class="zoomWrapper single-zoom">
                            <a href="#">
                                <img src="{{ object.image.url }}" alt="big-1">
                            </a>
                        </div>

                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product_d_right">
                        
                        <div class="product_d_inner">
                            <div class="product_info_button">
                                <ul class="nav" role="tablist" id="nav-tab">
                                    <li>
                                        <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Description</a>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="info" role="tabpanel">
                                    <div class="product_info_content">
                                        <p>{{ object.description|safe }}
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--product details end-->

    
    <!--product area start-->
    <section class="product_area mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2><span> <strong>{{object.name }}</strong>Продукти</span></h2>
                    </div>
                    <div class="row shop_wrapper">
                    {% for product in object_list %}
                        <div class="col-lg-3 col-md-4 col-12 ">
                            <div class="single_product">
                                <div class="product_name grid_name">
                                    <h3><a href="{{ product.slug }}">{{ product.name }}</a></h3>
                                </div>
                                <div class="product_thumb">
                                    <a class="primary_img" href="{% url 'product-details' product.slug %}"><img src="{{ product.images.url }}" alt=""></a>
                                    {% if product.new %}
                                    <div class="label_product">
                                        <span class="label_sale">Нов</span>
                                    </div>
                                    {% endif %}
                                </div>
                            
                        
                                <div class="product_content list_content">
                                    <div class="right_caption">
                                        <div class="product_name">
                                            <h3><a href="{{ product.slug }}">{{ product.name }}</a></h3>
                                        </div>
                                        
                                        <div class="product_desc">
                                            <p>{{ product.description|safe }}</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    {% endfor %} 
                    </div>
                    {% if is_paginated %}
                    <div class="shop_toolbar t_bottom">
                        <div class="pagination">
                            <ul class="pagination">
                                {% for i in paginator.page_range %}
                                    {% if i <= page_obj.number|add:2 and i >= page_obj.number|add:-2 %}
                                        {% if page_obj.number == i %}
                                            <li class="page-item current" aria-current="page"><span class="current">{{ i }} <span class="sr-only">(current)</span></span></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </section>
    <!--product area end-->

{% endblock content %}