{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Hello, world!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="img/x-icon" href="#">

     <!-- CSS 
    ========================= -->
     <!--bootstrap min css-->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <!--owl carousel min css-->
    <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}">
    <!--slick min css-->
    <link rel="stylesheet" href="{% static '/css/slick.css' %}">
    <!--magnific popup min css-->
    <link rel="stylesheet" href="{% static '/css/magnific-popup.css' %}">
    <!--font awesome css-->
    <link rel="stylesheet" href="{% static '/css/font.awesome.css' %}">
    <!--ionicons min css-->
    <link rel="stylesheet" href="{% static '/css/ionicons.min.css' %}">
    <!--animate css-->
    <link rel="stylesheet" href="{% static '/css/animate.css' %}">
    <!--jquery ui min css-->
    <link rel="stylesheet" href="{% static '/css/jquery-ui.min.css' %}">
    <!--slinky menu css-->
    <link rel="stylesheet" href="{% static '/css/slinky.menu.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static '/css/plugins.css' %}">
    <link rel="stylesheet" href="{% static '/css/cat.css' %}">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    
    <!--modernizr min js here-->
    <script src="{% static '/js/vendor/modernizr-3.7.1.min.js' %}"></script>
    {% block headers %}{% endblock headers %}
  </head>
  <body>
    {% include "nav.html" %}
    {% block content %}
    {% endblock content %}
    {% include "footer.html" %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
        <!-- JS
    ============================================ -->
    <!--jquery min js-->
    <script src="{% static '/js/vendor/jquery-3.4.1.min.js' %}"></script>
    <!--popper min js-->
    <script src="{% static '/js/popper.js' %}"></script>
    <!--bootstrap min js-->
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <!--owl carousel min js-->
    <script src="{% static '/js/owl.carousel.min.js' %}"></script>
    <!--slick min js-->
    <script src="{% static '/js/slick.min.js' %}"></script>
    <!--magnific popup min js-->
    <script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
    <!--jquery countdown min js-->
    <script src="{% static '/js/jquery.countdown.js' %}"></script>
    <!--jquery ui min js-->
    <script src="{% static '/js/jquery.ui.js' %}"></script>
    <!--jquery elevatezoom min js-->
    <script src="{% static '/js/jquery.elevatezoom.js' %}"></script>
    <!--isotope packaged min js-->
    <script src="{% static '/js/isotope.pkgd.min.js' %}"></script>
    <!--slinky menu js-->
    <script src="{% static '/js/slinky.menu.js' %}"></script>
    <!-- Plugins JS -->
    <script src="{% static '/js/plugins.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static '/js/main.js' %}"></script>
  </body>
</html>