{% load i18n %}
{% load static %}

<!--call to action start-->
    <section class="call_to_action">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="call_action_inner">
                        <div class="call_text">
                            <h3><span>{% trans "Follow us in social networks" %}</span></h3>
                            <p></p>
                        </div>
                        
                        <div class="link_follow">
                            <ul>
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                                
                                <li><a href="#"><i class="ion-social-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--call to action end-->
 <!--footer area start-->
    <footer class="footer_widgets">
        <div class="container">
            <div class="footer_top">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widgets_container contact_us">
                            <div class="footer_logo">
                                <a href="#"><img src="{% static '/img/logo/logo.png' %}" alt=""></a>
                            </div>
                            <div class="footer_contact">
                                <p>{% trans "We are a team of designers and developers." %}</p>
                                <p><span>{% trans "Address" %}</span>{% trans "Your address" %}</p>
                                <p><span>{% trans "Need Help?" %}</span><a href="tel:1-800-345-6789">{% trans "phonenumber" %}</a></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="widgets_container widget_menu">
                            <h3>{% trans "Pages" %}</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                                    <li><a href="{% url 'factorys' %}">{% trans "Factories" %}</a></li>
                                    <li><a href="{% url 'services' %}">{% trans "Services" %}</a></li>
                                    <li><a href="{% url 'projects' %}">{% trans "projects" %}</a></li>
                                    <li><a href="{% url 'contacts' %}">{% trans "Contact Us" %}</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% comment %} {% include 'subscription/subscription_form.html' %} {% endcomment %}
                    {% comment %} <div class="col-lg-4 col-md-6">
                        <div class="widgets_container">
                            <h3>{% trans "Newsletter Subscribe" %}</h3>
                            <p>{% trans "We’ll never share your email address with a third-party." %}</p>
                            <div class="subscribe_form">
                                <form id="mc-form" class="mc-form footer-newsletter">
                                    <input id="mc-email" type="email" autocomplete="off" placeholder="{% trans 'Enter you email address here...' %}" />
                                    <button id="mc-submit">{% trans "Subscribe" %}</button>
                                </form>
                                <!-- mailchimp-alerts Start -->
                                <div class="mailchimp-alerts text-centre">
                                    <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                    <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                    <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                                </div><!-- mailchimp-alerts end -->
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
            <div class="footer_bottom">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright_area">
                            <p>Copyright &copy; 2021 <a href="#">AVSOLUTION</a> All Right Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer_payment text-right">
                            <p>Develop by: <a href="https://www.instagram.com/evgenipetrov/"> Evgeni Petrov</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer area end-->