 {% load static %}
 {% load i18n %}
 {% load mptt_tags %}
 <!--header middel start-->
<header class="header_area">
        <div class="header_middle">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="logo">
                            <a href="{% url 'home' %}"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="middel_right">
                            <div class="search-container">
                                <form action="{% url 'search-results' %}" method="get"  accept-charset="UTF-8">
                                    <div class="search_box">
                                        <input name="q" type="text" placeholder="{% trans 'Търсене в продукти' %}">
                                        <button type="submit"><a href="{% url 'search-results' %}"><i class="ion-ios-search-strong"></i></a></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3" class="language">
                        <ul class="">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for lang in languages %}
                            <li style="color:black">
                                <a class="" href="/{{ lang.code }}/">{{ lang.name_local }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        <!--header middel end-->
        
        
        
        <!--header bottom satrt-->
        <div class="header_bottom sticky-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="main_menu header_position">
                            <nav >
                                <ul>
                                    <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                                    <li><a href="{% url 'factorys' %}">{% trans "Factories" %}</a>
                                    
                                    </li>
                                    <li><a href="{% url 'services' %}">{% trans "Services" %}</a>
                                        
                                    </li>
                                    
                                    <li><a href="{% url 'projects' %}">{% trans "projects" %}</a></li>
                                    <li><a href="{% url 'contacts' %}">{% trans "Contact Us" %}</a></li>
                                </ul>
                                
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--header bottom end-->
       
</header>
<!--Offcanvas menu area start-->
    <div class="off_canvars_overlay"></div>
    <div class="Offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <span>MENU</span>
                        <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                    </div>
                    <div class="Offcanvas_menu_wrapper">

                        <div class="canvas_close">
                            <a href="#"><i class="ion-android-close"></i></a>
                        </div>
                        <div class="search-container">
                            <form action="{% url 'search-results' %}" method="get">
                                <div class="search_box">
                                    <input name="q" type="text" placeholder="{% trans 'Търсене в продукти' %}">
                                    <button type="submit"><a href="{% url 'search-results' %}"><i class="ion-ios-search-strong"></a></i></button>
                                </div>
                            </form>
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li class="menu-item-has-children">
                                    <a href="{% url 'home' %}">{% trans "Home" %}</a>
                                    
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'factorys' %}">{% trans "Factorys" %}</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'services' %}">{% trans "Services" %}</a> 
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'projects' %}">{% trans "Projects" %}</a> 
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'contacts' %}">{% trans "Contact Us" %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
