{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block headers %}
<title>{% trans "contact us" %}</title>
{% endblock headers %}


{% block content %}

    <!--contact map start-->
    <div class="contact_map mt-30">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="map-area">
                        <div id="googleMap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23041.154544941644!2d26.501007356067188!3d43.79061831491056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40afad9b1b3abc55%3A0x6c313e043d789536!2z0L_QsNC30LDRgCDQuCDQv9Cw0L3QsNC40YA!5e0!3m2!1sen!2sbg!4v1630744471407!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--contact map end-->

    <!--contact area start-->
    <div class="contact_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="contact_message content">
                        <h3>{% trans "contact us" %}</h3>
                        <p>{% trans "Claritas est etiam processus dynamicus" %}</p>
                        <ul>
                            <li><i class="fa fa-fax"></i>{% trans "Address : No 40 Baria Sreet 133/2 NewYork City" %}</li>
                            <li><i class="fa fa-phone"></i> <a href="#">{% trans "Infor@roadthemes.com" %}</a></li>
                            <li><i class="fa fa-envelope-o"></i><a href="tel:0(1234)567890">{% trans "phonenumber" %}</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="contact_message form">
                        <h3>{% trans "Tell us your project" %}</h3>
                        <form id="contact-form" method="POST" action="assets/mail.php">
                            <p>
                                <label>{% trans "Your Name (required)" %}</label>
                                <input name="name" placeholder="{% trans 'Name *' %}" type="text">
                            </p>
                            <p>
                                <label> {% trans "Your Email (required)" %}</label>
                                <input name="email" placeholder="{% trans 'Email*' %}" type="email">
                            </p>
                            <p>
                                <label> {% trans "Subject" %}</label>
                                <input name="subject" placeholder="{% trans 'Subject *' %}" type="text">
                            </p>
                            <div class="contact_textarea">
                                <label> {% trans "Your Message" %}</label>
                                <textarea placeholder="{% trans 'Message *' %}" name="message" class="form-control2"></textarea>
                            </div>
                            <button type="submit"> {% trans "Send" %}</button>
                            <p class="form-messege"></p>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--contact area end-->


    

    


    <!--map js code here-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdWLY_Y6FL7QGW5vcO3zajUEsrKfQPNzI"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="assets/js/map.js"></script>
{% endblock content %}